<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account Information</title>
</head>
<body>
<h1>Account <span th:text="${account.name}">Games</span></h1>
<p>USD Balance: $<span th:text="${account.balance}">100</span></p>
<p>GBP Balance: £<span th:text="${account.gbpBalance}">77</span></p>
<p>JPY Balance: ¥<span th:text="${account.jpyBalance}">10692</span></p>
<br/>
<!-- display the account ID really small, just to make sure we're looking at the right one -->
<p style="font-size: x-small" th:text="${account.id}">1</p>
</body>
</html>